.container{
   
    font-family: cursive;
    background-color: rgb(255, 250, 250);
}
.links{
    color: white;
    }

.links a{
    margin-left: 4px;
}



.card{
   
    background-color: rgba(161, 146, 146, 0.5) !important;
    margin-left: 200px;
    width: 700px;
    text-align: center;
   

    }
table{
    margin: 0 auto;
    text-align: left;
    width: 500px;
}

    .btn{
        margin: 4px 2px;
    }