<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>

  </head>
    
<body>

    <div class="alert " role="alert">
       Status of your Mail Here: {{message}}
      </div>

    <div class="jumbotron">

    <h3 class="well">Forget Username And Password</h3>
    <small> Enter email address in Inputbox and your Credentials will be E-mailed to you</small><br><br>
    <label for="email"> Email* : </label>
    <input  type="email" [(ngModel)]="email" name="email" id="email" required
        placeholder="Enter valid email address" />

    <p class="p-container">
            <input class="btn btn-primary" type="submit"  value="Send Credentials" (click)="ForgetSubmit()">
    </p>

    <footer> Back to Login Page?<a href="/login">Click Here</a></footer>

    </div>
</body>
</html>
