.jumbotron{
    
    margin: 100px;
    margin-right: 300px;
    margin-left: 300px;
    

}
html,body{
    font-family: cursive;
}


.links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

body{
    background-color: lavenderblush;
}
.alert{
    color: rgb(233, 77, 129);
}