
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
.heading{
    margin-top:60px;
    text-align: center;
}
h4{
    font-family: cursive;
   
 }
 a{
  font-family: cursive;
  font-weight: bolder;
}

.container{
  font-family: cursive;
}